@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
    --cor-principal: #1F3541;
    --cor-prin: #1f4357;
    --cor-sec: #5289B5;
    --cor-terc: #AFD8F2;
    --cor-texto: #EDF2F3;
}

html {
    scroll-behavior: smooth;
}



* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    /* background-color: #000c66; */
    background-color: var(--cor-principal);
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;

}

/* INICIO DO HEADER */
header {
    background-color: var(--cor-principal);
    /* background-color: #050a30; */
    height: 3em;
}


.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links h1 {
    margin-left: 1em;
}


a {
    text-decoration: none;
}

.nav-links a {
    margin-right: 3vw;
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--cor-texto);
}



.nav-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 10px;
    left: 0;
    background-color: var(--cor-sec);
    transition: all 0.3s ease;
}

.nav-links a:hover::after {
    width: 80%;
}

.lang {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-top: 10px;
}

.lang button {
    background-color: var(--cor-sec);
    border: none;
    padding: 3px 3px;
    cursor: pointer;
}

.lang img {
    width: 2vw;
    height: 4vh;
}

#USA {
    border-radius: 0 10px 10px 0;
}

#PTbr {
    border-radius: 10px 0 0 10px;
}

#USA:hover img {
    box-sizing: border-box;
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.5s;
}

#PTbr:hover img {
    box-sizing: border-box;
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.5s;
}

/* TÉRMINO DO HEADER */

/* INICIO DO ABOUT ME*/

#inicio {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 12vh;
}

#aboutMe {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 30vh;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 4vw 2vh;
    gap: 10vw;
}

.blur {
    position: absolute;
    box-shadow: 0 150px 19990px 95px #154770;
    z-index: -10;
}

.introduction h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: start;
    color: var(--cor-texto);
}

.introduction p {
    width: 25vw;
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: 400;
    font-size: 1.1rem;
    backdrop-filter: blur(100px);
    color: var(--cor-texto);
}

.img-introduction {
    display: flex;
    height: 45vh;
    width: auto;
    border-radius: 3rem;
    border: 1px solid black;
    box-shadow: 23px 23px 10px -5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.img-introduction:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-5px) scale(1.03);
}

.img-aboutMe:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-5px) scale(1.03);
}


.aboutMe h1 {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--cor-texto);
}

.aboutMe p {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--cor-texto);
    text-align: left;
}

.img-aboutMe {
    display: flex;
    height: auto;
    width: 28vw;
    border-radius: 3rem;
    border: 1px solid black;
    box-shadow: 23px 23px 10px -5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    animation: flutuar 7s ease-in-out infinite;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

/* TÉRMINO DO ABOUT ME */

/* INICIO DOS PROJETOS */

#projects {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 32vh;
}


.PrimeiraFileira {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    gap: 20px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-5px) scale(1.03);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid black;
    background-color: var(--cor-prin);
    cursor: pointer;
    width: 18vw;
    transition: all 0.5s ease;
    box-shadow: 23px 23px 10px -5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 18rem;
    width: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-prin);
    color: white;
    border-radius: 0px 0px 12px 12px;
    padding: 15px;
}

.card-title,
.card-text {
    text-align: center;
}


.card-text {
    font-weight: 240;
}

.card-body a {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: var(--cor-texto);
}

.fa-brands {
    margin-bottom: 10px;
}


/* TÉRMINO DO PROJETOS */

/* CAMPO PARA CONTATO */

.campo-form {
    width: 100%;
    padding: 1vw;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--cor-texto);
    box-shadow: 23px 23px 10px -5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.grupo-form {
    margin-bottom: 4vh;

}

.contatos {
    padding: 6vw 2vh;
}

.contatos-titulo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 16px;
}

.botao-form {
    color: var(--cor-texto);
    background: #000c66;
    background: linear-gradient(45deg, #1F3541, #1f455a);
    padding: 1vw 2vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(34, 86, 134, 0.4);
}



.modal {
    color: var(--cor-texto);
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}


.modal-content {
    background-color: var(--cor-prin);
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid var(--cor-principal);
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal-content h4 {
    margin-bottom: 1rem;
}

.modal-content ul {
    list-style: circle inside;
    padding: 0;
}