@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: #000c66;
    font-family: "Geist Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;

}

/* INICIO DO HEADER */
header {
    background-color: #050a30;
    height: 3em;
}


.nav-links {
    display: flex;
    justify-content: space-between;
}

.nav-links h1 {
    margin-left: 1em;
}


a {
    text-decoration: none;
}

.nav-links a {
    margin-right: 3vw;
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}



.nav-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 10px;
    left: 0;
    background-color: #7ec8e3;
    transition: all 0.3s ease;
}

.nav-links a:hover::after {
    width: 80%;
}

.lang {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-top: 10px;
}

.lang button {
    background-color: #7EC8E3;
    border: none;
    padding: 3px 3px;
    cursor: pointer;
}

.lang img {
    width: 2vw;
    height: 4vh;
}

#USA {
    border-radius: 0 10px 10px 0;
}

#PTbr {
    border-radius: 10px 0 0 10px;
}

#USA:hover img {
    box-sizing: border-box;
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.5s;
}

#PTbr:hover img {
    box-sizing: border-box;
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.5s;
}

/* TÉRMINO DO HEADER */

/* INICIO DO ABOUT ME*/

#inicio {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 12vh;
}

#aboutMe {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 30vh;
}


/* .container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
} */

.container {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 4vw 2vh;
    gap: 10vw;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1880px 130px #154770;
    z-index: -100;
}

.introduction h1 {
    margin-bottom: 1rem;
    font-size: 2.6rem;
    font-weight: 600;
}

.introduction p {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    backdrop-filter: blur(100px);
}

.img-introduction {
    display: flex;
    height: 45vh;
    width: auto;
    border-radius: 3rem;
    border: 1px solid black;
    box-shadow: 23px 23px 10px -5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.img-introduction:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.img-aboutMe:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}


.aboutMe h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.aboutMe p {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    backdrop-filter: blur(10px);
}

.img-aboutMe {
    display: flex;
    height: auto;
    width: 28vw;
    border-radius: 3rem;
    border: 1px solid black;
    box-shadow: 23px 23px 10px -5px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    animation: flutuar 7s ease-in-out infinite;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }
}

/* TÉRMINO DO ABOUT ME */

/* INICIO DOS PROJETOS */

#projects {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 32vh;
}


.PrimeiraFileira {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    gap: 20px;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid black;
    background-color: #0000FF;
    cursor: pointer;
    width: 18vw;
    transition: all 0.5s ease;
}

.card img {
    height: 15rem;
    width: 100%;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0202B4;
    color: white;
    border-radius: 0px 0px 12px 12px;
    padding: 15px;
}

.card-title,
.card-text {
    text-align: center;
}

.card-body a {

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.fa-brands {
    margin-bottom: 10px;
}


/* TÉRMINO DO PROJETOS */

/* CAMPO PARA CONTATO */

.campo-form {
    width: 100%;
    padding: 1vw;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: #fff;
}


.grupo-form {
    margin-bottom: 4vh;
}

.contatos {
    padding: 6vw 2vh;
}

.contatos-titulo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    font-weight: 800;
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 16px;
}

.botao-form {
    color: #fff;
    background: #000c66;
    background: linear-gradient(45deg, #000c66, #050a30);
    padding: 1vw 2vh;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

